    <!DOCTYPE html>  
    <html lang="en">  
    <head>  
        <script src="angular.min.js"></script>  
    </head>  
    <div ng-app="" ng-init="myText='Hello ! Welcome To Angular JS  Mr'" >  

   <p> Enter Text:<input type="text" ng-model="SomeText"></p>

   <p ng-bind="SomeText"</p>   

    
   <h1>{{myText}} {{SomeText}}</h1>
   
   </div>

    <div> 
   <p> Enter Text Here Also:<input type="text" ng-model="SomeText"></p>
   <p ng-bind="SomeText"</p>   
    </div>  

    </body>  
    </html>   

